<a href="https://colab.research.google.com/github/steinruck/Practice/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import random
import pandas as pd
import numpy as np

In [2]:
cell_tower = []
part_1 = '432.11.'
part_3 = []
part_4 = []

for i in range(1,151):
  part_3.append(random.randint(1000,9999))

for i in range(1,151):
  part_4.append(random.randint(10000,99999))

In [3]:
part_3 = list(map(str, part_3))
part_4 = list(map(str, part_4))

In [4]:
res = [i + j for i, j in zip(part_3, part_4)]

In [5]:
with_period = []
for string in res:
    with_period.append('.'.join(string[i:i + 4] for i in range(0, len(string), 4)))

In [6]:
for string in with_period:
    cell_tower.append(part_1 + string)

In [7]:
remove_period = []

for string in cell_tower:
    remove_period.append(string[:16] + string[17:])

In [8]:
remove_period

['432.11.2093.32713',
 '432.11.3105.86590',
 '432.11.3923.22694',
 '432.11.8696.80771',
 '432.11.8475.15316',
 '432.11.2913.74524',
 '432.11.6238.13618',
 '432.11.4596.91019',
 '432.11.4226.38226',
 '432.11.9751.78497',
 '432.11.5005.42910',
 '432.11.5451.21581',
 '432.11.1595.82515',
 '432.11.5538.62230',
 '432.11.8466.36026',
 '432.11.2458.34445',
 '432.11.6700.99690',
 '432.11.8733.22093',
 '432.11.7970.84951',
 '432.11.9221.34201',
 '432.11.4322.28731',
 '432.11.9987.95718',
 '432.11.4675.88745',
 '432.11.4611.49649',
 '432.11.3921.27833',
 '432.11.4281.72210',
 '432.11.4207.56086',
 '432.11.6755.31625',
 '432.11.4771.42572',
 '432.11.2527.88223',
 '432.11.8162.74965',
 '432.11.3216.75904',
 '432.11.5714.94491',
 '432.11.4379.45250',
 '432.11.9319.13266',
 '432.11.8870.89191',
 '432.11.9970.66290',
 '432.11.8623.44176',
 '432.11.3503.12520',
 '432.11.3813.69294',
 '432.11.8148.81097',
 '432.11.6228.76788',
 '432.11.2610.87151',
 '432.11.1103.40455',
 '432.11.3245.17899',
 '432.11.2041.43949',
 '432.11.9971.90032',
 '432.11.5642.28618',
 '432.11.3290.37250',
 '432.11.4659.90888',
 '432.11.5234.90198',
 '432.11.9714.98092',
 '432.11.8293.14340',
 '432.11.1025.64373',
 '432.11.1992.88124',
 '432.11.8551.31511',
 '432.11.3537.22382',
 '432.11.7651.80171',
 '432.11.1274.78457',
 '432.11.8312.99213',
 '432.11.2414.72678',
 '432.11.3569.50560',
 '432.11.2512.50120',
 '432.11.1602.72581',
 '432.11.6562.44033',
 '432.11.5226.26428',
 '432.11.4689.63693',
 '432.11.9031.13216',
 '432.11.2895.52124',
 '432.11.6211.42543',
 '432.11.3204.12611',
 '432.11.7510.49960',
 '432.11.5377.18401',
 '432.11.7020.52144',
 '432.11.2312.31032',
 '432.11.7630.37477',
 '432.11.7285.76351',
 '432.11.4778.96576',
 '432.11.3113.64621',
 '432.11.2899.60982',
 '432.11.3322.96094',
 '432.11.4146.27525',
 '432.11.6794.28284',
 '432.11.4649.15898',
 '432.11.7164.39608',
 '432.11.7455.96616',
 '432.11.6265.36959',
 '432.11.2424.88587',
 '432.11.4173.79704',
 '432.11.7789.41333',
 '432.11.3773.98007',
 '432.11.2907.67874',
 '432.11.3357.87777',
 '432.11.1266.48361',
 '432.11.1884.58977',
 '432.11.7743.80883',
 '432.11.5973.92558',
 '432.11.8334.86500',
 '432.11.3285.35152',
 '432.11.6526.58653',
 '432.11.8038.29900',
 '432.11.3162.48602',
 '432.11.5337.13366',
 '432.11.8924.96751',
 '432.11.7129.48824',
 '432.11.6795.23717',
 '432.11.9229.98096',
 '432.11.8558.51115',
 '432.11.2765.28302',
 '432.11.4127.56211',
 '432.11.6734.37068',
 '432.11.5648.38408',
 '432.11.2521.25691',
 '432.11.1946.27563',
 '432.11.5066.13886',
 '432.11.7784.75060',
 '432.11.1804.69713',
 '432.11.9489.83609',
 '432.11.4128.98342',
 '432.11.6710.18517',
 '432.11.4705.16844',
 '432.11.1780.64442',
 '432.11.5153.92938',
 '432.11.3033.81980',
 '432.11.9349.18946',
 '432.11.6852.32860',
 '432.11.3138.50439',
 '432.11.2404.37083',
 '432.11.3050.29106',
 '432.11.1992.82216',
 '432.11.8931.77321',
 '432.11.4393.35328',
 '432.11.4541.76900',
 '432.11.6445.11684',
 '432.11.3463.91480',
 '432.11.6314.74972',
 '432.11.1559.59125',
 '432.11.1022.90474',
 '432.11.7953.10436',
 '432.11.7161.31506',
 '432.11.5517.81458',
 '432.11.1831.39552',
 '432.11.6347.13347',
 '432.11.2453.62435',
 '432.11.5622.97852',
 '432.11.4817.83225',
 '432.11.5280.13316',
 '432.11.8866.93856',
 '432.11.8292.63660',
 '432.11.4286.81703']

In [13]:
int_list = []
for i in range(1,1001):
    int_list.append(i)

In [14]:
df = pd.DataFrame(int_list, columns=['name'])

     name
0       1
1       2
2       3
3       4
4       5
..    ...
995   996
996   997
997   998
998   999
999  1000

[1000 rows x 1 columns]

In [16]:
df["cell_tower"] = np.random.choice(remove_period, size=len(df))

     name         cell_tower
0       1  432.11.4649.15898
1       2  432.11.8623.44176
2       3  432.11.7651.80171
3       4  432.11.8292.63660
4       5  432.11.3537.22382
..    ...                ...
995   996  432.11.3463.91480
996   997  432.11.3204.12611
997   998  432.11.5337.13366
998   999  432.11.5642.28618
999  1000  432.11.3138.50439

[1000 rows x 2 columns]