<a href="https://colab.research.google.com/github/steinruck/Practice/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import random
import pandas as pd
import numpy as np

In [37]:
cell_tower = []
part_1 = '432.11.'
part_3 = []
part_4 = []

for i in range(1,151):
  part_3.append(random.randint(1000,9999))

for i in range(1,151):
  part_4.append(random.randint(10000,99999))

part_3 = list(map(str, part_3))
part_4 = list(map(str, part_4))

res = [i + j for i, j in zip(part_3, part_4)]


with_period = []
for string in res:
    with_period.append(string[:4] + '.' + string[4:])

for string in with_period:
    cell_tower.append(part_1 + string)

int_list = []
for i in range(1,1001):
    int_list.append(i)

data = {'name':int_list,'cell_tower':(np.random.choice(cell_tower, size=len(int_list)))}

df = pd.DataFrame(data)

In [40]:
df

     name         cell_tower
0       1  432.11.6014.36074
1       2  432.11.9165.36242
2       3  432.11.6415.98172
3       4  432.11.8148.53385
4       5  432.11.5622.62351
..    ...                ...
995   996  432.11.6587.98346
996   997  432.11.5580.24697
997   998  432.11.7039.87331
998   999  432.11.1498.34936
999  1000  432.11.4348.67882

[1000 rows x 2 columns]